// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//Import Bootstrap's icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

//Import normalize
@import url(./normalize.scss);

/*------------------------------ document settings ------------------------------*/

:root {
  --page-bg: #ffffff;
  --nav-bg: #000000b3;
  --modal-bg: #d1d1d1;

  --grad-black: #000000b3;
  --grad-beige: #a57758b3;

  --grad-grey: #1c1c1ccc;
  --grad-brown: #553518cc;
  --grad-orange: #d86820cc;
  --grad-gray: #818181;

  --black: #000000;
  --white: #ffffff;
  --grey: #f5f5f5;
  --blue: #6881a4;
  --salmon: #cf5f14;

  --whitepacity: #ffffffc4;
  --whitepacity-light: #ffffff80;
  --whitepacity-transparent: #ffffff33;
  --blackpacity: #0000008e;
  --blackpacity-light: #00000015;
  --shadows: #00000033;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Wix Madefor Display", sans-serif;
  font-style: normal;
}

/*------------------------------ tags and general sttings ------------------------------*/
section {
  z-index: 1;
  background-image: linear-gradient(0deg,
      var(--whitepacity-transparent) 0%,
      var(--whitepacity) 10%);
  padding: 0 20px;
  overflow-x: hidden !important;
}

article {
  overflow-x: hidden !important;
}

footer {
  background-color: var(--whitepacity-transparent);
  padding-bottom: 25px;
  padding-top: 70px;
}

main {
  z-index: 1;
}

.navbar-section {
  background-color: var(--whitepacity) !important;
  padding-bottom: 0;
}

h2 {
  font-weight: 500;
  color: var(--white);
  font-size: 26px;
}

.table-responsive{
  background-color: var(--blackpacity);
  border-radius: 10px;
  padding: 0 4vw;
}

.table-scrollable {
  width: 100%;
  overflow-x: auto !important;
  padding: 0 !important;
}

body {
  background-color: var(--whitepacity);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*------------------------------ Background ------------------------------*/

/* Background image settings */
.bg-vid {
  z-index: -1;
  position: fixed;
  display: flex;
  width: 100vw;
  filter: blur(5px) opacity(0.7);
}

/*------------------------------ Options for the administer: register, edit, resevations ------------------------------

/* Button container styling */
.button-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-header{
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;

  & div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.profile-name{
  font-size: 1rem;
  font-weight: bold;
  color: var(--blackpacity);
}

.profile-username{
  margin: 0;
  opacity: 0.7;
  font-size: 0.8rem;
  color: var(--black);
}

.profileBtn{
  text-decoration: none;
}

/* DB button styling */
.avatar {
  background-color: var(--blackpacity);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: var(--white);
  border: none;

  & h3 {
    color: var(--white);
  }
}

/* CRUD container styling */
.crud-container {
  padding: 20px;
  padding-bottom: 0;
}

/* CRUD options styling */
.div-crud {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;

  & a {
    text-align: center;
    height: 100%;
    width: 33%;
    transition: 0.4s ease-in-out;

    & h4 {
      font-style: normal;
      color: var(--blackpacity);
      font-size: 1rem;
      transition: 0.4s ease-in-out;
    }
  }
}

.div-crud a:hover,
.div-crud a:focus,
.div-crud a:active {
  transition: 0.4s ease-in-out;

  & h4 {
    transition: 0.4s ease-in-out;
    font-weight: bold;
    color: var(--black);
  }
}

.crud-options {
  text-decoration: none;
  color: var(--black);
  padding-bottom: 15px;
}

/*------------------------------ tables ------------------------------*/

table th,
table td {
  background-color: transparent !important;
  border-bottom: var(--whitepacity) 1px solid !important;
  color: var(--white) !important;

  & a{
    text-decoration: none;
  }
}

.text-body {
  margin-bottom: 30px;
  margin-top: 60px;

  & p {
    color: var(--white) !important;
  }
}

/*------------------------------ footer and navigation links ------------------------------*/

#footer {
  margin: 0 6.5vw;
  padding: 3vw;
  margin-bottom: 20px;
  background-position: bottom;
  background-size: cover;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;

  & div {
      display: flex;
      align-items: center;
      gap: 20px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;

  & img{
    filter: invert(1);
    opacity: 0.5;
  }

  & div {
      gap: 30px;
      justify-self: flex-start;

      & a {
          transition: 0.6s;
          color: var(--blackpacity) !important;

          :hover {
              transition: 0.6s;
              color: var(--black) !important;
          }

          & p {
              font-size: 13px;
          }
      }
  }
}

.footer-icons {
  align-self: center;
  text-indent: 10px;
}

.copyright {
  font-size: 13px;
}

/*------------------------------ media querys ------------------------------*/

@media (max-width: 767px) {
  .caption {
    font-size: 18px;
  }

  .footer-end {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    > * {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.footer-links {
    width: 100%;

    & img {
        width: 250px;
    }

    & div {
        gap: 20px;
    }
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .caption {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .caption {
    font-size: 24px;
  }
}