// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//Import Bootstrap's icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

//Import normalize
@import url(./normalize.scss);



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Styling for the section element */
section {
  z-index: 1;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 1) 30%
  );
  padding: 20px; 
}

/* Background image settings */
.bg-img {
  z-index: -1;
  position: fixed;
  display: flex;
  height: 100vh; 
  width: 100vw; 
  background: url("../../public/img/food-login-bg.webp") no-repeat;
  background-position: center;
  background-size: cover;
}

/* Title styling */
.title-4 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 24px; 
}

.separator {
  font-size: 5vw;
}

/* Button container styling */
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

/* DB button styling */
.db-button {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; 
}

/* CRUD container styling */
.crud-container {
  margin-top: 50px;
  padding: 20px; 
}

/* CRUD options styling */
.div-crud {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 20px;
  flex-wrap: wrap; 
}

.crud-options {
  text-decoration: none;
  color: white;
  margin: 10px; 
}

/* Form styling */
.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

.form-edit-create {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
  grid-template-rows: repeat(16, 60px); 
  gap: 20px;
}

/* Input and textarea styling */
input,
textarea {
  border: white 1px solid;
  border-radius: 10px;
  background-color: #ffffffb3;
  padding: 10px;
  width: 100%; 
}

input::placeholder,
textarea::placeholder {
  color: black;
}


.caption{
  color: white;
}

.caption-logo{
  grid-column: 7 / 11;
}


/* Individual input fields styling */
.form-name {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
}

.form-image {
  grid-column: 7 / 11;
  grid-row: 2 / 5;
}

.form-textarea {
  grid-column: 1 / 7;
  grid-row: 3 / 5;
}

/* Checkbox styling */
.form-check {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  border: white 1px solid;
  border-radius: 10px;
  background-color: #ffffffb3;
  color: black;
  display: flex;
  align-items: center;
}

.form-address {
  grid-column: 4 / 11;
  grid-row: 5 / 6;
}

.caption-about-restaurant{
  grid-column: 1 / 11;
  grid-row: 6 / 7;
}

.form-menu {
  grid-column: 1 / 11;
}

/* Image input fields styling */
.form-image1 {
  grid-column: 1 / 3;
  grid-row: 7 / 9;
}

.form-image2 {
  grid-column: 3 / 5;
  grid-row: 7 / 9;
}

.form-image3 {
  grid-column: 5 / 7;
  grid-row: 7 / 9;
}

.form-image4 {
  grid-column: 7 / 9;
  grid-row: 7 / 9;
}

.form-image5 {
  grid-column: 9 / 11;
  grid-row: 7 / 9;
}

.form-image6 {
  grid-column: 1 / 3;
  grid-row: 9 / 11;
}

.form-image7 {
  grid-column: 3 / 5;
  grid-row: 9 / 11;
}

.form-image8 {
  grid-column: 5 / 7;
  grid-row: 9 / 11;
}

.form-image9 {
  grid-column: 7 / 9;
  grid-row: 9 / 11;
}

.form-image10 {
  grid-column: 9 / 11;
  grid-row: 9 / 11;
}

/* Social media link fields styling */
.form-social-media {
  grid-column: 1 / 4;
}

.form-social-media1 {
  grid-column: 4 / 8;
}

.form-social-media2 {
  grid-column: 8 / 11;
}

/* Keyword textarea styling */
.form-key-word {
  grid-column: 1 / 11;
  grid-row: 11 / 13;
}

/* responsive caption */
.caption {
  font-size: 24px; 
}


@media (max-width: 767px) {
  .caption {
    font-size: 18px;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .caption {
    font-size: 20px;
  }
}


@media (min-width: 992px) {
  .caption {
    font-size: 24px;
  }
}