// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//Import Bootstrap's icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

//Import normalize
@import url(./normalize.scss);

/*------------------------------ document settings ------------------------------*/

:root {
    --page-bg: #ffffff;
    --navbar-bg: #ffffffe6;

    --grad-orange: #ff812fb3;
    --grad-brown: #8f6028b3;
    --grad-black: #000000b3;

    --grad-coffee: #622b09cc;
    --grad-gray: #f7f7f7;

    --orange: #d86820;
    --black: #000000;
    --white: #ffffff;

    --orangepacity: #d8672066;
    --whitepacity: #ffffffc4;
    --whitepacity-light: #ffffff80;
    --blackpacity: #0000008e;
    --shadows: #00000033;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Wix Madefor Display", sans-serif;
    font-style: normal;
}

/*------------------------------ tags and general sttings ------------------------------*/

main,
header,
footer {
    background-color: var(--page-bg);
}

h2 {
    font-size: 7vw;
}

h1 {
    font-size: 10vw;
}

h5 {
    color: var(--whitepacity-light);
    font-weight: normal;
    font-size: 30px;
}

li {
    list-style: none;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
}

/*------------------------------ navbar ------------------------------*/

#navbar {
    display: flex;
    justify-content: center;
}

.menu-home {
    animation-delay: 0.1s;
    & p{
        color: var(--orange);
    }
}

.menu-explora {
    animation-delay: 0.3s;
    & p{
        color: var(--orange);
    }
}

.menu-administra {
    animation-delay: 0.5s;
    & p{
        color: var(--orange);
    }
}

.menu-contacta {
    animation-delay: 0.7s;
    & p{
        color: var(--orange);
    }
}

.navbar-burger {
    z-index: 6;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    transition: 0.3s;
}

body.open .navbar-burger {
    position: fixed;
    transition: 0.3s;
}

#navbar section{
    display: none;
}

body.open #navbar section{
    display: block;
  }

.menu {
    z-index: 4;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    background: var(--navbar-bg);
    opacity: 0;
    transition: 1s;
}

body.open .menu {
    transition: 1s;
    opacity: 1;
    position: fixed;
    display: flex;
}

.menu a {
    font-size: 4vw;
}

body.open .menu a {
    animation: appear 0.5s ease-in-out;
}

body.open main {
    filter: blur(10px);
}

@keyframes appear {
    0% {
        opacity: 0;
        translate: 0 50px;
    }

    100% {
        opacity: 1;
    }
}

/*------------------------------ titles ------------------------------*/

.title {
    translate: 0 100px;
    display: flex;
    justify-content: flex-end;
    color: var(--orangepacity);

    & h1 {
        font-size: 14vw;
    }
}

.title-1 {
    display: flex;
    justify-content: flex-start;
    color: var(--orange);
  }
  
  .title-2 {
    display: flex;
    justify-content: center;
    color: var(--orange);
  }
  
  .title-3 {
    display: flex;
    justify-content: flex-end;
    color: var(--orange);
  }

/*------------------------------ searching bar ------------------------------*/

#research {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bi-search {
    font-size: 20px;
    color: var(--blackpacity);
}

.buscador {
    box-shadow: 2px 2px 8px 1px var(--shadows);
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
    height: 20%;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-buscador {
    width: 60%;
    padding: 15px;
    border-radius: 5px;
    border: none;
}

.bar-buscador::placeholder {
    text-align: center;
}

.bar-buscador {
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.bar-buscador:focus,
.bar-buscador:active{
    background-color: transparent; 
    outline: none;
    box-shadow: none;
}

/*------------------------------ food images gallery ------------------------------*/

.img-restaurant {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1880px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.img-restaurant section {
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
    transition: 0.8s;
}

.img-restaurant div {
    height: 12rem;
    transition: 0.8s;
    border-radius: 10px;
}

.img-restaurant div:hover {
    transform: scale(1.1);
    transition: 0.8s;
}

.img-restaurant video {
    transition: 0.8s;
    border-radius: 10px;
    height: 12rem;
}

.img-restaurant video:hover {
    transform: scale(1.1);
    transition: 0.8s;
}

.img-restaurant-pic1 {
    background-image: url("https://images.pexels.com/photos/12706240/pexels-photo-12706240.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: 250px;
}

.img-restaurant-pic2 {
    background-image: url("https://images.pexels.com/photos/20844826/pexels-photo-20844826/free-photo-of-comida-restaurante-pez-pescado.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: 200px;
}

.img-restaurant-pic3 {
    background-image: url("https://images.pexels.com/photos/1907227/pexels-photo-1907227.jpeg");
    background-size: cover;
    width: 250px;
}

.img-restaurant-pic4 {
    background-image: url("https://images.pexels.com/photos/8112966/pexels-photo-8112966.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: 300px;
}


/*------------------------------ footer or contact section ------------------------------*/

#footer {
    padding-top: 250px;
    padding-bottom: 25px;
    background-image: linear-gradient(0deg,
            var(--orange) 35%,
            var(--white) 100%);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & div {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    & div {
        gap: 20px;
        justify-self: flex-start;
    }
}

.footer-icons {
    align-self: center;
    text-indent: 10px;
}

/*------------------------------ media querys ------------------------------*/

/*mobile*/
@media (min-width: 320px) and (max-width: 769px) {

    .img-restaurant {
        max-width: 320px;
    }

    .img-restaurant-pic1 {
        width: 140px;
        translate: 50px 50px;
    }

    .img-restaurant-pic2 {
        width: 140px;
        translate: 50px;
    }

    .img-restaurant-pic3,
    .img-restaurant-pic4 {
        display: none;
    }

    .img-restaurant div {
        height: 8rem;
    }

    .menu,
    .menu-home,
    .menu-administra,
    .menu-contacta,
    .menu-explora {
        transition: none;
    }

    body.open .menu {
        transition: none;
    }

    body.open .menu a {
        animation: appear 0.2s ease-in-out;
    }

    body.open .navbar-burger {
        position: fixed;
    }

    .navbar-burger img {
        padding-top: 5px;
        width: 30px;
    }

    .buscador,
    p {
        font-weight: normal;
        font-size: 20px;
    }

    .title {
        padding-right: 45px;
    }

    /* … */
}

/* tablet */
@media (min-width: 770px) and (max-width: 1023px) {

    .img-restaurant {
        max-width: 770px;
    }

    .img-restaurant-pic1 {
        width: 300px;
    }

    .img-restaurant-pic2 {
        display: none;
    }

    .img-restaurant-pic3,
    .img-restaurant-pic4 {
        translate: 45px;
    }

    .img-restaurant section {
        padding-right: 45px;
    }

    body.open .navbar-burger {
        position: fixed;
        translate: 0 15px;
        transition: 1s;
    }

    .navbar-burger img {
        width: 30px;
        transition: 1s;
    }

    body.open .navbar-burger img {
        transition: 1s;
    }

    .buscador,
    p {
        font-weight: normal;
        font-size: 25px;
    }

    .title {
        padding-right: 80px;
    }

    /* … */
}

/* portatil */
@media (min-width: 1024px) and (max-width: 1879px) {

    .img-restaurant {
        max-width: 1024px;
    }

    .img-restaurant-pic1,
    .img-restaurant-pic3 {
        width: 180px;
    }

    .img-restaurant-pic4 {
        display: none;
    }

    body.open .navbar-burger {
        position: fixed;
        translate: 0 10px;
        transition: 1s;
    }

    .navbar-burger img {
        padding-top: 50px;
        width: 30px;
        transition: 1s;
    }

    body.open .navbar-burger img {
        transition: 1s;
    }

    .buscador,
    p {
        font-weight: normal;
        font-size: 25px;
    }

    .title {
        padding-right: 85px;
    }

    /* … */
}

/* PC */
@media (min-width: 1880px) {

    body.open .navbar-burger {
        position: fixed;
        translate: 0 100px;
        transition: 1s;
    }

    .img-restaurant div {
        width: 300px;
    }

    .img-restaurant section {
        padding-right: 85px;
    }

    .navbar-burger img {
        padding-top: 40px;
        width: 50px;
        transition: 1s;
    }

    body.open .navbar-burger img {
        padding-top: 20px;
        transition: 1s;
    }

    .buscador,
    p {
        font-weight: normal;
        font-size: 35px;
    }

    .title {
        padding-right: 105px;
    }

    /* … */
}