// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//Import Bootstrap's icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

//Import normalize
@import url(./normalize.scss);

/*------------------------------ document settings ------------------------------*/

:root {
  --page-bg: #ffffff;
  --nav-bg: #000000b3;
  --modal-bg: #d1d1d1;

  --grad-black: #000000b3;
  --grad-beige: #a57758b3;

  --grad-grey: #1c1c1ccc;
  --grad-brown: #553518cc;
  --grad-orange: #d86820cc;
  --grad-gray: #818181;

  --black: #000000;
  --white: #ffffff;
  --grey: #f5f5f5;
  --blue: #6881a4;
  --salmon: #cf5f14;

  --whitepacity: #ffffffc4;
  --whitepacity-light: #ffffff80;
  --whitepacity-transparent: #ffffff33;
  --blackpacity: #0000008e;
  --blackpacity-light: #00000015;
  --shadows: #00000033;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Wix Madefor Display", sans-serif;
  font-style: normal;
}

/*------------------------------ tags and general sttings ------------------------------*/

main,
header,
footer {
  overflow: hidden;
  background-color: var(--page-bg);
}

h2 {
  font-size: 4vw;
}

h5 {
  color: var(--whitepacity-light);
  font-size: 30px;
}

li {
  list-style: none;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

span {
  padding: 0 4vw;
}

/*------------------------------ navbar ------------------------------*/

#navbar {
  display: flex;
  justify-content: center;
}

.menu-home {
  animation-delay: 0.1s;

  & p {
    font-weight: bold;
    color: var(--whitepacity);
  }
}

.menu-explora {
  animation-delay: 0.3s;

  & p {
    font-weight: bold;
    color: var(--whitepacity);
  }
}

.menu-administra {
  animation-delay: 0.5s;

  & p {
    font-weight: bold;
    color: var(--whitepacity);
  }
}

.menu-contacta {
  animation-delay: 0.7s;

  & p {
    font-weight: bold;
    color: var(--whitepacity);
  }
}

.navbar-burger {
  z-index: 6;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  transition: 0.3s;
  font-size: 35px;
  color: var(--black);
}

body.open .navbar-burger {
  position: fixed;
  transition: 0.3s;
  color: var(--whitepacity);
}

#navbar section {
  display: none;
}

body.open #navbar section {
  display: block;
}

.menu {
  z-index: 4;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  background: var(--nav-bg);
  opacity: 0;
  transition: 1s;

  @media (max-height: 430px) { 
    padding-top: 65px;
    gap: 12px;
  }
}

body.open .menu {
  transition: 1s;
  opacity: 1;
  position: fixed;
  display: flex;
}

body.open .menu a {
  animation: appear 0.5s ease-in-out;
}

body.open main {
  filter: blur(10px);
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 50px;
  }

  100% {
    opacity: 1;
  }
}

/*------------------------------ banner carousel ------------------------------*/

#banner {
  margin-top: 100px;
  width: 100%;
  transition: 0.6s;
}

#hero {
  height: auto;
  overflow: hidden;
}

.banner {
  filter: saturate(0.8);
  border-radius: 20px;
  z-index: -1;
  transition: 0.6s;
  width: 100%;
  height: 100%;
  max-height: 250px;
  object-fit: cover;
}

.banner-logo {
  width: 76%;
  max-width: 850px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner-container {
  position: relative;
}

/*------------------------------ about us, info and functions ------------------------------*/

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.title-1 {
  margin: 0 !important;
  width: 100%;
  color: var(--white);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  background-image: url("https://images.pexels.com/photos/8629032/pexels-photo-8629032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: bottom;
  background-size: cover;
  padding: 0;

  & p {
    animation: move 15s linear infinite;
    justify-content: center;
    width: 100%;
    padding: 13px 0;
    margin: 0;
    color: var(--whitepacity-light);
    display: flex;
  }
}

.about-section1 {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-subtitle1 {
  color: var(--black);
}

.about-text1 {
  color: var(--blackpacity);
  font-style: oblique;
}

/*------------------------------ gallery of top restaurants ------------------------------*/

.top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1880px;
  margin: 0 auto;
}

.carousel-top{
  margin: 12.5vh 0;
  padding: 7vw;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: 1880px;
  margin: 0 auto;
}

.top-gallery div {
  height: 150px;
  transition: 0.8s;
  border-radius: 10px;
  filter: invert(1) contrast(2) grayscale(1) brightness(2);
}

.top-gallery article {
  filter: saturate(0.7);
  height: 150px;
  transition: 0.8s;
  border-radius: 10px;
  display: flex;
}

.top-gallery article:hover {
  transform: scale(1.05);
  transition: 0.8s;
  margin: 0 25px;
}

.top-gallery-pic1 {
  background-image: url("https://images.pexels.com/photos/27965493/pexels-photo-27965493/free-photo-of-comida-madera-restaurante-gente.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  width: 300px;
}

.top-gallery-pic2 {
  background-image: url("https://images.pexels.com/photos/28260053/pexels-photo-28260053/free-photo-of-panqueques.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  width: 150px;
}

.top-gallery-pic3 {
  background-image: url("https://images.pexels.com/photos/17146413/pexels-photo-17146413/free-photo-of-sano-beber-bebida-vaso.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  width: 225px;
}

.top-gallery-pic4 {
  background-image: url("https://images.pexels.com/photos/15082386/pexels-photo-15082386/free-photo-of-comida-plato-comida-rapida-fotografia-de-comida.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  width: 225px;
}

.top-gallery-pic5 {
  background-image: url("https://images.pexels.com/photos/13729069/pexels-photo-13729069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  width: 150px;
}

.top-gallery-pic6 {
  background-image: url("https://images.pexels.com/photos/2067401/pexels-photo-2067401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  justify-content: center;
  width: 300px;
}

.top-gallery-logo1 {
  background-image: url("../../public/img/static-top-rest1.webp");
  background-size: cover;
  background-position: center;
  width: 250px;
}

.top-gallery-logo2 {
  background-image: url("../../public/img/static-top-rest2.webp");
  background-size: cover;
  background-position: center;
  width: 150px;
}

.top-gallery-logo3 {
  background-image: url("../../public/img/static-top-rest3.webp");
  background-size: cover;
  background-position: center;
  width: 225px;
}

.top-gallery-logo4 {
  background-image: url("../../public/img/static-top-rest6.webp");
  background-size: cover;
  background-position: center;
  width: 225px;
}

.top-gallery-logo5 {
  background-image: url("../../public/img/static-top-rest5.webp");
  background-size: cover;
  background-position: center;
  width: 150px;
}

.top-gallery-logo6 {
  background-image: url("../../public/img/static-top-rest4.webp");
  background-size: cover;
  background-position: center;
  width: 200px;
}

/*------------------------------ footer or contact section ------------------------------*/

#footer {
  opacity: 0.75;
  margin: 6.5vw;
  margin-top: 0;
  padding: 3vw;
  margin-bottom: 20px;
  padding-top: 85px;
  filter: saturate(1.1);
  background-position: bottom;
  background-size: cover;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;

  & div {
      display: flex;
      align-items: center;
      gap: 20px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;

  & img{
    filter: invert(1);
    opacity: 0.5;
  }

  & div {
      gap: 30px;
      justify-self: flex-start;

      & a {
          transition: 0.6s;
          color: var(--black) !important;

          :hover {
              transition: 0.6s;
              color: var(--blackpacity);
          }

          & p {
              font-size: 13px;
          }
      }
  }
}

.footer-icons {
  align-self: center;
  text-indent: 10px;
}

.copyright {
  font-size: 13px;
}

/*------------------------------ Media querys ------------------------------*/

/*mobile*/
@media (min-width: 320px) and (max-width: 770px) {

  .footer-end {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    > * {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.footer-links {
    width: 100%;

    & img {
        width: 250px;
    }

    & div {
        gap: 20px;
    }
}

  h5{
    font-size: 28px;
  }

  #carousel {
    padding-top: 0;
  }

  .top-gallery {
    max-width: 320px;
    padding-bottom: 0;
  }

  .img-gallery div {
    font-size: 40px;
  }

  .top-gallery-pic1 {
    width: 286px;
  }

  .top-gallery-pic3 {
    background-image: url("https://images.pexels.com/photos/28260053/pexels-photo-28260053/free-photo-of-panqueques.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position: center;
    width: 150px;
  }
  
  .top-gallery-pic2 {
    background-image: url("https://images.pexels.com/photos/17146413/pexels-photo-17146413/free-photo-of-sano-beber-bebida-vaso.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position: center;
    width: 225px;
  }

  .top-gallery-logo3 {
    background-image: url("../../public/img/static-top-rest2.webp");
    background-size: cover;
    background-position: center;
    width: 150px;
  }
  
  .top-gallery-logo2 {
    background-image: url("../../public/img/static-top-rest3.webp");
    background-size: cover;
    background-position: center;
    width: 225px;
  }

  .top-gallery-pic4, .top-gallery-pic6, .top-gallery-pic5 {
    display: none !important;
  }
  

  .menu,
  .menu-home,
  .menu-administra,
  .menu-contacta,
  .menu-explora {
    transition: none;
  }

  body.open .menu {
    transition: none;
  }

  body.open .menu a {
    animation: appear 0.2s ease-in-out;
  }

  body.open .navbar-burger {
    position: fixed;
  }

  .navbar-burger img {
    padding-top: 5px;
    width: 40px;
  }

  body.open .navbar-burger-fade {
    width: 65px;
    height: 65px;
    translate: 0 10px;
    visibility: visible;
  }

  p {
    font-weight: normal;
    font-size: 14px;
  }

  .menu a {
    font-size: 4vw;

    & p {
      font-size: 18px
    }
  }

  /* … */
}

/* tablet */
@media (min-width: 771px) and (max-width: 1024px) {

  .top-gallery {
    max-width: 600px;
  }

  body.open .navbar-burger {
    position: fixed;
    translate: 0 15px;
    transition: 1s;
  }

  .navbar-burger img {
    width: 40px;
    transition: 1s;
  }

  body.open .navbar-burger img {
    transition: 1s;
  }

  body.open .navbar-burger-fade {
    width: 70px;
    height: 70px;
    translate: 0 20px;
    visibility: visible;
    animation: appear 0.5s ease-in-out;
  }

  p {
    font-weight: normal;
    font-size: 16px;
  }

  .menu a {
    font-size: 4vw;

    & p {
      font-size: 23px
    }
  }

  /* … */
}

/* portatil */
@media (min-width: 1025px) and (max-width: 1880px) {

  .top-gallery {
    max-width: 900px;
  }

  body.open .navbar-burger {
    position: fixed;
    translate: 0 10px;
    transition: 1s;
  }

  .navbar-burger img {
    padding-top: 50px;
    width: 45px;
    transition: 1s;
  }

  body.open .navbar-burger img {
    transition: 1s;
  }

  body.open .navbar-burger-fade {
    width: 70px;
    height: 70px;
    translate: 0 40px;
    visibility: visible;
    animation: appear 0.5s ease-in-out;
  }

  p {
    font-weight: normal;
    font-size: 17px;
  }

  .menu a {
    font-size: 4vw;

    & p {
      font-size: 25px
    }
  }

  /* … */
}

/* PC */
@media (min-width: 1881px) {

  body.open .navbar-burger {
    position: fixed;
    translate: 0 100px;
    transition: 1s;
  }

  .navbar-burger img {
    padding-top: 40px;
    width: 55px;
    transition: 1s;
  }

  body.open .navbar-burger img {
    padding-top: 20px;
    transition: 1s;
  }

  body.open .navbar-burger-fade {
    width: 100px;
    height: 100px;
    translate: 0 100px;
    visibility: visible;
    animation: appear 0.5s ease-in-out;
  }

  p {
    font-weight: normal;
    font-size: 18px;
  }

  .menu a {
    font-size: 4vw;

    & p {
      font-size: 35px
    }
  }
}